body {
	background-color: rgb(236, 240, 244) !important;
}
.donutContainer, .chartContainer {
	border: 1px solid #CACACA; 
	width: 140px; 
	padding: 5px 0px 5px 0px;
	margin-left: 10px;
	margin-right: 10px;
}
.donutContainer > .donutContainerTitle, .chartContainer > .donutContainerTitle {
	font-family:arial; 
	font-size:13px; 
	font-weight:bold;	
}
.donutContainer > .donutContainerContent {
	width:140px; 
	height:140px;	
}

.donutContainer > .donutContainerActions {
	height:34px;	
}
.chartContainer {
	width: 790px;
	height: 204px;
}
button.actionButton {
	color: #CACACA; 
	width: 34px; 
	height: 34px; 
	border-radius: 50%; 
	border-width: 2px; 
	background-color: #FFF;	
	fill: #CACACA;
}
button.actionButton:hover {
	color: #000; 
	background-color: #CACACA;	
	fill: #000;
}
.worldOverlay {
    position: relative;
    width: 140px;
    height: 140px;
}
.regionOverlay {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.countryOverlay {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
}
#legalEntityContainer, #pepsContainer {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-align: left;
	display: block; 
	width:100%; 
	padding:0px;	
}
#legalEntityContainer {
	color: #FFF;
	background-color: rgb(0, 33, 68);
}
#pepsContainer {
	background-color: #FFF;
	color: rgb(0, 33, 68);
}
#legalEntityContainer .legalEntity, #pepsContainer .peps {
	width:100%;
	overflow: none;
	padding: 10px;
	border-bottom: 1px solid #999999;
}
#legalEntityContainer .legalEntity:first-child, #pepsContainer .peps:first-child {
	border-top: 1px solid #999999;
}
#legalEntityContainer .selectable-legalEntity, #pepsContainer .selectable-peps {
	cursor: pointer;
}
#legalEntityContainer .selectable-legalEntity:hover, #legalEntityContainer .legalEntity.selected {
	background-color: rgb(50, 83, 118);
}
#pepsContainer .selectable-peps:hover, #pepsContainer .peps.selected {
	background-color: rgb(205, 205, 205);
}
.mapRegionData {
	fill: #006AC3;
}
.mapRegionNoData {
	fill: rgb(255, 255, 255);
}
.mapRegionDataSelected {
	fill: #FCA311;
}
.mapRegionMouseOver {
	fill: #FCA311;
}
.countryNoData {
	padding: 10px;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	text-align: center;	
}